/* This is a separate text file for my global styles */

/* This is is my style settings for the my pages header, body background, and header background */
head {
  font-family: Arial, sans-serif;
}


body {
  background-image: url('Images/Light-Blue.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 20;
}

header {
  background-color: #339;
  padding: 10px;
}

h1, h2 {
  color: #000000;
}

/* This is is my style settings my picture and for the my images list and its name */
img {
  width: 100px;
  border-radius: 100px;
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.image-name {
  margin-top: 5px;
  color: #000000; 
  font-size: 14px;
  font-weight: bold;
}


.image-container img {
  display: block;
  margin: 0 auto;
}


.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  display: inline-block;
  margin-right: 10px;
}

.mypic {
  position: relative;
}

.mypic img {
  position: absolute;
  top: -60px;
  left: 130px;
}

/* This is my style settings for the navigation list*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #000000;
}

main {
  margin: 80px;
}

/* This is my style settings for my footer */
footer {
  background-color: #339;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* These are my Specific Styles for my contact page */

form {
  display: block;
  margin: 20vh auto 0 auto;
  width: 300px;
  padding: 5px;
  border-radius: 4px;
}


form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #000000;
  color: #fff;
}


.user-input input, textarea {
  border: 2px solid #100101;
  border-radius: 10px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.user-input span {
  position: absolute;
  right: 445px;
  color: #ff0000;
  font-size: 14;
}

#submit-error{
  color: #ff0000;
}

.user-input span i{
    color: #06f506;
}


/* The End */